<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>Cabinet</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <meta content="" name="keywords"/>
  <meta content="" name="description"/>
  <link rel="stylesheet" type="text/css" href="/Jquery/jquery.bxslider/jquery.bxslider.css"/>
  <script type="text/javascript" src="/Jquery/jquery.min.js"></script>

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/flat-ui/css/flat-ui.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/VersionCSS/style.css" rel="stylesheet">
  <!-- Bootstrap core CSS -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/VersionCSS/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="/VesrionCSS/style.css" rel="stylesheet">
  <link href="/VesrionCSS/style-responsive.css" rel="stylesheet">
  <script src="/lib/chart-master/Chart.js"></script>
 </head>

<body>
 <header class="header black-bg" >
<!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" style="background-color:#FD3F92;">
 <img src="/image/logoM.png" style="width:60px; height:50px;margin-bottom:-70px; margin-left:20px;">
   <div class="container">
      <div class="navbar-header" style=" color:green;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown active">
            <a href="Accueil.html" style="font-size:20px; color:green;">Accueil</a>
          </li>
          <li><a href="contact.html" style="font-size:20px; color:green;">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:20px; color:green;">Espaces Patient <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="services.html">Services</a></li>
              <li><a href="tarif.html">Tarifs</a></li>
              <li><a href="Renseignement.html">Renseignement</a></li>
              <li><a href="heureDeVisite.html">Heures de visite</a></li>
              <li><a href="DemandeRV.html">Demande de rendez-vous</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size:20px; color:green;">Présention <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="portfolio.html">Historisque</a></li>
              <li><a href="portfolio4.html"></a></li>
              <li><a href="project-single.html">Single Project</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->

     </div> 
      <div class="top-menu" style="margin-top:-70px; margin-right:80px;">
        <ul class="nav pull-right top-menu">
          <li><a class="logout" href="Conection.html" style="color :white;font-size:20px;">Se connecter</a></li>
        </ul>
      </div>
     </div>
     
    </header>

  <!-- Headerwrap -->
 <div style="margin-left:50px;width:900x;height:650px;">
 <div style="float:left;width:450x;height:500px;">
		<DIV class=texte><p>	<img align="absMiddle" alt="" border="0" src="http://www.chu-lyon.fr/web//attached_file/dummy?ImageId=1439&amp;ComponentId=gallery17" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; background-color: rgb(255, 255, 255); " /><span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; background-color: rgb(255, 255, 255); ">&nbsp;Le personnel de nos établissements est attentif à votre confort et au respect de vos droits. Nous veillons à ce que votre tranquillité et votre intimité soient préservées. Au même titre&nbsp;nous garantissons la confidentialité de vos informations personnelles et médicales.</span><br style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-align: left; background-color: rgb(255, 255, 255); " />
<h1 class="titre" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(16, 106, 136); text-align: justify; background-color: rgb(255, 255, 255); ">
	&nbsp;</h1>
	
<h1 class="titre" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(16, 106, 136); text-align: justify; background-color: rgb(255, 255, 255); ">
	<span style="font-size:16px;"><span style="color: rgb(0, 128, 128);"><span style="background-color: rgb(221, 160, 221);">Service des Consultations Externes et Urgences</span></span></span></h1>
<p>	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; color: rgb(51, 51, 51); font-family: Arial; font-size: 18px; text-align: justify; background-color: rgb(255, 255, 255); " width="8" /><span style="color: rgb(51, 51, 51); font-family: Arial; text-align: justify; background-color: rgb(255, 255, 255); font-size: 16px; ">&nbsp;Service d’u</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 16px; text-align: justify; background-color: rgb(255, 255, 255); ">rgence polyvalent</span><br />
	<span style="color: rgb(51, 51, 51); font-family: Arial; text-align: justify; background-color: rgb(255, 255, 255); font-size: 16px; "> <img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Ophtalmologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;ORL<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Chirurgie Générale / Chirurgie Infantile<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Cardiologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Consultation Pré Anesthésique (VPA)<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Urologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Neurologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Dermatologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Odonto- stomatologie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Médecine Interne / Médecine Générale<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Gynécologie-</span><span style="color: rgb(51, 51, 51); font-family: Arial; font-size: 16px; background-color: rgb(255, 255, 255); ">Obstétricale</span><br />
	<span style="color: rgb(51, 51, 51); font-family: Arial; text-align: justify; background-color: rgb(255, 255, 255); font-size: 16px; "> <img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Pédiatrie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Kinésithérapie<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;Médecine&nbsp;Traditionnelle Chinoise ( Acupuncture)<br />
	<img alt="-" class="puce" height="11" src="http://www.hopitalpikine.sn/squelettes-dist/puce.gif" style="margin: 0px; padding: 0px; border: 0px; " width="8" />&nbsp;</span><span style="background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); font-family: Arial; font-size: 16px; text-align: justify; ">Soins paramédicaux</span></p>
</div>
</div>
<div style="float:right; width:450px;height:500px;margin-top:-390px;">
<h1 class="titre" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(16, 106, 136); text-align: justify; background-color: rgb(255, 255, 255); ">
	<span style="color:#008080;"><span style="background-color:#dda0dd;">Service d’Hospitalisation</span></span></h1>
<ul style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; text-align: justify; background-color: rgb(255, 255, 255); ">
	<li style="text-align: left; ">
		<span style="font-size: 16px; ">Médecine et Spécialités Médicales</span></li>
	<li style="text-align: left; ">
		<span style="font-size: 16px; ">Chirurgie Générale &amp; Spécialités</span></li>
	<li style="text-align: left; ">
		<span style="font-size: 16px; ">Gynécologie-Obstétricale</span></li>
	<li style="text-align: left; ">
		<span style="font-size: 16px; ">Pédiatrie</span></li>
	<li style="text-align: left; ">
		<span style="font-size: 16px; ">Réanimation Polyvalente</span></li>
</ul>
<h1 class="titre" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: rgb(16, 106, 136); text-align: justify; background-color: rgb(255, 255, 255); ">
	<span style="color:#008080;"><span style="background-color:#dda0dd;">Service </span><span style="background-color:#dda0dd;">médico-technique</span><span style="background-color:#dda0dd;"> &amp; pharmaceutique</span></span></h1>
<blockquote>
	<ul>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size: 16px; ">&nbsp;Imagerie Médicale</span></li>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size: 16px; ">&nbsp;Laboratoire</span></li>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size:16px;">Pharmacie</span></li>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size: 16px; ">&nbsp;Bloc Opératoire</span></li>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size: 16px; ">&nbsp;</span><span style="font-size: 16px; ">Service Technique de Maintenance</span></li>
		<li style="color: rgb(51, 51, 51); font-family: Arial; font-size: 13px; background-color: rgb(255, 255, 255); text-align: left; ">
			<span style="font-size: 16px; ">&nbsp;Buanderie</span></li>
	</ul>
</blockquote>
<p>	<span style="color: rgb(51, 51, 51); font-family: Arial, Sans, sans-serif; font-size: 10px; text-align: right; background-color: rgb(255, 255, 255); "><span class='spip_document_30 spip_documents spip_documents_right' style='float:right; width:448px;'>
<img src='IMG/jpg/services.jpg' width="448" height="252" alt="" /></span></span></p>

<p>	&nbsp;</p>

<p>	&nbsp;</p></div>	
</div>
	</div>

 
 <!-- /Headerwrap -->  

  <!-- Services Section -->
  <div class="container sinfo">
    <div class="row centered">
      <div class="col-lg-3">
        <p><img src="image/medecin1.jpg" style="width: 150px; height: 150px; margin-top: 15px; margin-left:25px;text-align: center; overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;"></p>
        <p>Bloc opératoire</p>
        <p><button class="btn btn-primary">Lisez </button></p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-lg-3">
        <p><img src="image/medecin4.jpg" style="width: 150px; height: 150px; margin-top: 15px; margin-left:25px;text-align: center; overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;"></p>
        <p>Pédiatrie</p>
        <p><button class="btn btn-primary">Lisez</button></p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-lg-3">
        <p><img src="image/medecin2.jpg" style="width: 150px; height: 150px; margin-top: 15px; margin-left:25px;text-align: center; overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;"></p>
        <p>Dentiste</p>
        <p><button class="btn btn-primary">Lisez</button></p>
      </div>
      <!-- col-lg-3 -->

      <div class="col-lg-3">
        <p><img src="image/medecin3.jpg" style="width: 150px; height: 150px; margin-top: 15px; margin-left:25px;text-align: center; overflow:hidden;-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;"></p>
        <p>Dématologie</p>
        <p><button class="btn btn-primary">Lisez</button></p>
      </div>
      <!-- col-lg-3 -->

    </div>
    <!-- /row -->
    <br>
    <hr>
  </div>
  <!-- /container -->

  <!-- container -->
 
  <!-- container -->
  <!-- FOOTER -->
  <!-- /Footer -->

  <div id="copyrights" style="background-color:green">
    <div class="container">
      <p>
        &copy; Copyrights <strong>Cliniauer</strong>. 
      </p>
      <div class="credits">
        Amad Babacar Soda<a href="#">Clinique</a>
      </div>
    </div>
  </div>
  <!-- / copyrights -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/php-mail-form/validate.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>
  <script src="/Jquery/jquery.bxslider/jquery.bxslider.min.js"></script>
	<script>
		jQuery(document).ready(Function(){
			$('.images').bxSlider({
				auto: true
			});
		});
	</script>
</body>
</html>
